h1{
    text-align: center;
}

.menuContainer{
    border: 2px solid red;
}

.container, .locationConatiner{
    border: 4px solid black;
    margin: 10px;
    display:flex;
    justify-content:space-between;
}

button{
    margin:10px;
}

.priceContainer{
    border: 3px solid green;
    /* margin:10px; */
    display:flex;
    justify-content:space-between;
}

